<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="btnbutton">
        <button
          class="btn"
          type="button"
          style="color: white; font-weight: bold"
        >
          <i class="fas fa-question"></i>
          Support
        </button>
      </div>
      <div class="menu">
        <a href="#search"><i class="fas fa-search"></i></a>
        <a href="#call"><i class="fas fa-phone"></i></a>
        <a href="#noti">
          <i class="fas fa-bell"></i>
        </a>
        <div class="user">
          <span class="maker-badge fs-xs fw-semibold">Checker</span>
        </div>
        <div class="multi-box">
          <img
            src="../../assets/images/sample_avatar.png"
            alt="#"
            class="avatar"
          />
          <div class="username">
            <div style="font-weight: 600; color: blueviolet">Checker</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
